  .text-color {
    color: var(--borderPink);
  }
  /* .card {
    padding: 10px;
    border-radius: 20px;
    background: #d4efdf;
    border: none;
    position: relative;
  } */
  .mobile-text {
    color: var(--borderPink);
    font-size: 15px;
  }
  .form-control {
    margin-right: 12px;
  }
  .form-control:focus {
    color: #495057;
    border-color: var(--borderPink);
    outline: 0;
    box-shadow: none;
  }
  .cursor {
    cursor: pointer;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  